
<div class="container">
  <h2 class="text-center my-5">All Categories</h2>
  <hr class="my-3" />

  <!-- Create Category and Search Section -->
  <div class="d-flex justify-content-between mb-4">
    <a class="btn gradient-custom-4 " routerLink="create">Create Category</a>
    <input (change)="searchData(searchInput.value)" #searchInput class="form-control me-2 w-25" type="search"
      placeholder="Search" aria-label="Search">
  </div>

  <hr class="my-3" />

  <div class="row">
    @for(category of categories; track category._id){
    <div class="col-md-4 mb-4">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center mt-4">
            <div>
              <h4 class="text-center">{{ category?.name }}</h4>
            </div>
          </div>

          <!-- Update/Delete Buttons -->
          <div class="text-center mt-4">
            <a [routerLink]="['/categories',category._id,'update']" class="btn gradient-custom-4  btn-sm rounded-3 mx-3">Update</a>
            <button (click)="deleteCategory(category._id)" class="btn btn-danger btn-sm rounded-3"> <i class="fas fa-trash-alt"></i></button>
          </div>
        </div>
      </div>
    </div>
    }
    @empty { <h1>No Categories Found</h1> }
  </div>
</div>

