.card {
  border: none;
}

.card-body {
  background: #f7f7f7;
}

.text-center {
  color: #333;
}

.btn {
  font-size: 14px;
}
.gradient-custom-4 {
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
}

